body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#d5cccc;
font-family:Arial;
}

.cal{
background:rgb(5, 5, 11);
padding:20px;
border-radius:20px 20px 20px ;
box-shadow:0 0 10px rgba(126, 19, 19, 0.2);
}

.cal:hover{box-shadow: 0 0 10px red;}

#display{
width:100%;
height:50px;
font-size:20px;
margin-bottom:10px;
text-align:right;
padding-right:10px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,60px);
gap:10px;
}

button{
height:50px;
font-size:18px;
border:none;
background:#c29d08ba;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#299ab9;
}
